$ease: cubic-bezier(.26, .86, .44, .985);
$blue: #67C6EA;

html, body {
    font-family: "RobotoLight", Helvetica, Arial, sans-serif;
    color: #777;
    background: #f9f9f9;
    overflow-x: hidden;
}

body.small-screen {
    #wrapper {
        -webkit-transform: scale(.85);
        top: -8%;
    }
    #caption {
        -webkit-transform: scale(.85);
    }
}

#wrapper {
    -webkit-perspective: 1500px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#caption {
    font-family: 'RobotoThin', Helvetica, Arial, sans-serif;
    font-size: 50px;
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 40px;
    -webkit-perspective: 1500px;
}

.caption-text {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    -webkit-transition: -webkit-transform .4s .1s $ease,
                        opacity .4s .1s $ease;

    &.next {
        -webkit-transform: translate3d(22px, 0, 0);
    }

    &.prev {
        -webkit-transform: translate3d(-22px, 0, 0);
    }

    &.next, &.prev {
        opacity: 0;
        -webkit-transition-delay: 0;
    }
}

#progress {
    position: fixed;
    top: 0;
    left: 0;
    width: 0%;
    height: 3px;
    background-color: $blue;
    -webkit-transition: width .5s $ease;
}

.scene {
    text-align: center;
    position: absolute;
    width: 80%;
    height: -webkit-calc(90% - 130px);
    top: 130px;
    left: 10%;
    -webkit-transform-style: preserve-3d;
    -webkit-transition: -webkit-transform .8s $ease,
                        opacity .8s $ease;
    &.next {
        opacity: 0;
        pointer-events: none;
        -webkit-transform: translate3d(80%, 0, 0) rotateY(60deg);
    }

    &.prev {
        opacity: 0;
        pointer-events: none;
        -webkit-transform: translate3d(-80%, 0, 0) rotateY(-60deg);
    }
}

.nav { 
    position: fixed;
    cursor: pointer;
    z-index: 2;
    opacity: 0.3;
    &:hover { 
        opacity: 0.5;
    }
    top: 50%;
    margin-top: -60px;
    -webkit-transition: opacity 100ms linear;
    border: 40px solid transparent;
    &.hidden { 
        opacity: 0;
        pointer-events: none;
        cursor: auto;
    }
}
#nav-left { 
    left: 5px;
}
#nav-right { 
    right: 5px;
}

.preload {
    position: absolute;
    width: 0;
    height: 0;
    z-index: -1;
}

.focus-circle {
    cursor: pointer;
    position: absolute;
    z-index: 99;
    width: 80px;
    height: 80px;
    border: 4px solid rgba(255,70,70,.65);
    border-radius: 50%;
    -webkit-transition: -webkit-transform .35s $ease, opacity .35s $ease;
    &.hide {
        pointer-events: none;
        opacity: 0;
        -webkit-transform: scale(2);
    }
}

// scenes

@import "scenes/types";
@import "scenes/sizes";
@import "scenes/contextual";
@import "scenes/everywhere";
@import "scenes/actions";
@import "scenes/book";